.artist-info {
	margin: 30px 0;
	&-cover {
		width: auto;
	}
	&-name {
		margin: {
			top: 10px;
			bottom: 30px;
		}
		font-size: 25px;
		font-weight: 600;
		span {
			border-bottom: 3px red dotted;
		}
	}
}
