.sim-album {
	&-wrapper {
		margin: 0 20px;
	}
	&-item {
		display: flex;
		margin: 20px 10px;
		&-cover {
			width: auto;
			img {
				width: 40px;
			}
		}
		a {
			&:link,
			&:visited {
				color: initial;
				text-decoration: none;
			}
		}
		&-name {
			display: inline-block;
			width: 140px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			margin: {
				bottom: 10px;
				left: 10px;
			}
			font-size: 14px;
		}
	}
}
