.NavbarWrapper {
	height: 80px;
	background-color: #242424;
	overflow: hidden;
}

.CategoryList {
	display: flex;
    justify-content: center;
	padding-left: 180px;
	.item {
        display: flex;
        justify-content: center;
        align-items: center;
		list-style-type: none;
		height: 80px;
		padding: 0 13px;
		margin: 0;
		color: rgb(228, 210, 210);
		&:hover,
		.menu-active {
			text-decoration: none;
			background-color: rgb(0, 0, 0);
            color:#fff
		}
	}
}

.Button{

}


