


.BannerWrapper{
    width: 100%;
    height: 270px;

    &-banner {
        position: relative;
        display: flex;
        height: 100%;
        justify-content: space-between;
        width:980px;
        margin: 0 auto;
    }
}

.BannerLeft{
    width: 730px;
  &-img {
    width: 100%;
  }
}

.BannerRight{
    width: 250px;
    // background
}

.BannerControl{
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  &-btn {
    position: absolute;
    width: 37px;
    height: 63px;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &:nth-child(1) {
      left: -68px;
      background-position: 0 -360px;
    }
    &:nth-child(2) {
      right: -68px;
      background-position: 0 -508px;
    }
}
}