.AlbumCoverWrapper {
	width: 153px;
	font-size: 12px;

	&-album-image {
		position: relative;
		height: auto;
		margin-top: 15px;

		&-cover {
			text-indent: -9999px;
			background-position: 0 -845px;
		}
	}
	&-album-name {
		width: 130px;
		color: #000;
	}

	&-artist {
		color: #666;
	}
}
